.card{
    font-size: 1rem;
    width: 15rem;
    height: 20em;
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.card-header{
    background-color: inherit;
}


.card-img{
    width: 10em;
    height: 10em;
}

.text{
    margin-top: 1em;
}

.btn{
    background-color: yellow;
    border: 1px solid black;
}