<section class="container pet-container">
    <div class="row">
        <article class="col-sm-3 m-3 pet-card" *ngFor="let item of petList; let i = index">
            <div class="img-container">
                <img src="" alt="">
            </div>

            <div class="info-container">
                <h3>{{item.nombre}}</h3>
                <p>{{item.raza}}, {{item.edad}}, {{item.size}}, {{item.sexo}}</p>
            </div>

            <div class="button-cotainer">
                <button class="btn">VER MÁS</button>
            </div>
        </article>
    </div>
</section>