.pet-img{
    width: 10rem;
    height: 10rem;
}

.pet-card{
    display: flex;
    align-items: center;
    width: 15rem;
    height: 22rem;
    gap: 1rem;
}
.text{
    display: flex;
}

.card-button{
    align-self:center;
    margin-top: auto;
    margin-bottom: 0.8rem;

}