<mat-card class="pet-card">
    <mat-card-header>
        <mat-card-title>{{pet.nombre}}</mat-card-title>
    </mat-card-header>
    <img class="pet-img" mat-card-image src="https://estag.fimagenes.com/img/2/3/K/D/5/3KD5_900.jpg">
    <mat-card-content>
        <mat-card-subtitle class="text"><span>{{pet.animal}}</span>, <span>{{pet.provincia}}</span>, <span>{{pet.edad}}</span>, <span>{{pet.genero}}</span></mat-card-subtitle>
    </mat-card-content>
    <button class="card-button" mat-raised-button color="warn">Ver más</button>
</mat-card>