
    <form class="search">
        <div class="field"><h4>Provincia</h4>
            <select name="Provincia" id="">
                <option *ngFor="let provincia of provincias" value="provincia">{{Type2Label[provincia]}}</option>
            </select></div>
        <div class="field">
            <h4>Animal</h4>
            <select name="Animal" id="">
                <option *ngFor="let animal of animales" value="provincia">{{animal2Label[animal]}}</option>
            </select>
        </div>
        <div class="field">
            <h4>Edad</h4>
            <select name="Edad" id="">
                <option *ngFor="let edad of ages" value="age">{{age2Label[edad]}}</option>
            </select>
        </div>
    </form>
