<section class="search">
    <h2>Busqueda</h2>
    <hr>
    <h4>Provincia</h4>

    <mat-form-field>
        <mat-label>Selecciona Provincia</mat-label>
        <mat-select>
            <mat-option *ngFor="let value of provincias" [value]="value">{{Type2Label[value]}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <h4>Animal</h4>

    <mat-form-field>
        <mat-label>Selecciona Animal</mat-label>
        <mat-select>
            <mat-option *ngFor="let value of animales" [value]="value">{{animal2Label[value]}}</mat-option>
        </mat-select>
    </mat-form-field>

    <h4>Edad</h4>
    
    <mat-form-field>
        <mat-label>Selecciona Edad</mat-label>
        <mat-select>
            <mat-option *ngFor="let value of ages" [value]="value">{{age2Label[value]}}</mat-option>
        </mat-select>
    </mat-form-field>
</section>
